.control_btn {
    background-image: linear-gradient(180deg,
        rgba(96.71694979071617, 93.3640743046999, 141.64585292339325, 1) 0%,
        rgba(46.116092428565025, 43.2159436494112, 117.27387472987175, 1) 35%);
    color: #AEABD8
}

.control_btn:hover {
    background-image: linear-gradient(180deg,
    rgba(53, 62, 73, 1) 0%,
    rgba(43, 52, 63, 1) 35%);
    color: white
}